<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assassin's Creed Shadows - infinitylevel</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <!-- Your custom styles -->
    <link rel="stylesheet" href="../estilos/redes.css">
    <link rel="stylesheet" href="../estilos/Assassins.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

</head>

<body>
    <header>
        <nav class="deep-purple darken-1">
            <div class="container">
                <div class="nav-wrapper">

                    <div class="row" style="margin-bottom: 0; align-items: center; display: flex; flex-wrap: wrap;">

                        <div class="col s2" style="display: flex; align-items: center; gap: 10px;">

                            <a href="/Menu"><img class="imagen_logo"
                                    src="\rs\logo_for_Infinity_Level_game_launcher_representing_the_perfection_of_the_video_game_world-removebg-preview-Photoroom.png"
                                    style="height: 60px; width: auto; max-width: 100%;"></a>



                            <ul id="slide-out" class="sidenav">
                                <li>
                                    <div class="user-view">
                                        <div class="background">
                                            <img class="background-img"
                                                src="/rs/fondo-controlador-videojuego-futurista-espacio-texto_1017-54730.avif">
                                        </div>


                                        <a href="#user"><img class="circle"
                                                src="\public\rs\IMG_20230709_194456.jpg"></a>
                                        <a href="#name"><span class="white-text name">Vicho21</span></a>
                                        <a href="#email"><span class="white-text email">Vicalex21@gmail.com</span></a>
                                    </div>
                                </li>
                                <li>
                                    <a class="waves-effect" href="log.html">
                                        <i class="material-icons left">sentiment_satisfied</i>Perfil</a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i class="material-icons left">group</i>Cambiar de
                                        prefil</a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i
                                            class="material-icons left">person_add</i>Amigos
                                    </a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i
                                            class="material-icons left">military_tech</i>Logros
                                    </a>
                                </li>

                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a class="subheader">Ajustes</a></li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">laptop_windows</i>Sistema
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">wifi</i>Red
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">save</i>Espacio
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">settings</i>Mas Ajustes
                                    </a>
                                </li>

                            </ul>


                            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                                <i class="material-icons">menu</i>
                            </a>

                        </div>

                        <div class="col s4" style="display: flex; align-items: center; justify-content: center;">
                            <form style="margin: 0; width: 100%;">
                                <div class="input-field" style="margin: 0;">
                                    <input id="buscar" type="text" placeholder="Buscar en la Tienda"
                                        style="padding: 0 15px; width: 290px;">
                                </div>
                            </form>
                        </div>

                        <div class="col s6" style="display: flex; align-items: center; justify-content: flex-end;">
                            <ul class="right hide-on-med-and-down">
                                <li><a href="#">Mis Videojuegos</a></li>
                                <li><a href="#">Amigos</a></li>
                                <li><a href="#">Carrito</a></li>
                                <li><a href="#">Ajustes</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div class="container section">
            <div class="row z-depth-2" style="background-color: #000814; border-radius: 10px; margin-top: 30px;">

                <div class="col s12 m8" style="margin-top: 20px;">
                    <div class="card" style="background-color: #000814;">
                        <div class="card-image-ass">
                            <img src="\rs\Assassins Creed shadows.jpg" alt="Assassins Creed Shadows"
                                class="responsive-img">
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 white-text">
                    <h4>Assassin's Creed<br>Shadows</h4>
                    <h5>$60.000</h5>
                    <div
                        style="width: 100%; max-width: 250px; display: flex; flex-direction: column; gap: 10px; margin-top: 140px;">
                        <a class="btn waves-light red modal-trigger" href="#boletaModal">
                            Comprar
                        </a>

                        <div id="boletaModal" class="modal" style="color: black;">
                            <div class="modal-content">
                                <h4>Boleta</h4>
                                <p><strong>Producto:</strong> Assassin's Creed Shadows</p>
                                <p><strong>Precio:</strong> $60.000</p>
                                <p><strong>Impuesto (IVA 19%):</strong> $11.400</p>
                                <p><strong>Total:</strong> $71.400</p>
                                <p><strong>Fecha:</strong> <span id="fechaBoleta"></span></p>
                                <p><strong>Gracias por tu compra</strong></p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn-flat">Cerrar</a>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="btn-flat" onclick="generarboletapdf()">Imprimir</a>
                            </div>
                        </div>

                        <a href="" class="btn cyan darken-2">
                            Agregar al carro
                        </a>
                        <a href="" class="btn cyan darken-2">
                            Lista de Deseos
                        </a>
                    </div>
                </div>
                <div class="col s12 white-text" style="margin-top: 50px;">
                    <h5 class="white-text" style="text-align: center;">Explora el Japón feudal</h5>
                    <p style="margin-top: 20px;">
                        Déjate cautivar por el mundo abierto del Japón feudal: desde espectaculares ciudadelas y puertos
                        bulliciosos hasta apacibles santuarios, pasando por paisajes bucólicos. Experimenta todas las
                        estaciones, el impredecible cambio del clima y un entorno reactivo mientras disfrutas de tu
                        aventura.
                    </p>
                </div>
            </div>
        </div>

        <h3 class="juegos2 white-text center-align" style="margin-top: 10px; padding-block-start: 10px;">
            Galeria de Imagenes
        </h3>
        <section class="galeria">
            <img class="materialboxed" width="650" src="\rs\AC_Shadows_Fan_Kit_Wallpapers_Horizontal-Faceoff.avif">
            <img class="materialboxed" width="650" src="\rs\ac-deep-dive-into-progression-news-header.webp">
            <img class="materialboxed" width="650" src="\rs\assassin-s-creed-shadows-animus-hub-explained.avif">
            <img class="materialboxed" width="650"
                src="\rs\assassins-creed-shadows-marketing-has-a-cryptic-puzzle-alrea_ykx8.jpg">
            <img class="materialboxed" width="650" src="\rs\ss_457490ebdc84023270e19aeec4ddc220c00abd41.1920x1080.jpg">
            <img class="materialboxed" width="650" src="\rs\Assassins Creed shadows.jpg">
        </section>

        <h3 class="juegos2 white-text center-align" style="margin-top: 10px; padding-block-start: 10px;">
            Videos
        </h3>

        <h3 class="juegos2 white-text center-align" style="margin-top: 10px; padding-block-start: 10px;">
            Informacion del producto
        </h3>

        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col s12 m6 white-text" style="margin-top: 50px;">
                    <h5 class="white-text" style="text-align: center;">Surge un nuevo Credo</h5>
                    <p style="margin-top: 20px;">
                        Vive las historias entrelazadas de Naoe, una experta Assassin shinobi de la provincia de Iga, y
                        Yasuke, el poderoso samurái africano de las leyendas históricas.
                        Con los últimos años del turbulento periodo Sengoku como telón de fondo, este dúo peculiar
                        descubrirá su destino común en los comienzos de una nueva era para Japón.
                    </p>
                </div>
                <div class="col s12 m6">
                    <div class="card" style="background-color: #0d1321; color: white;">
                        <div class="card-content">
                            <ul>
                                <li><strong>Desarrollador:</strong> Ubisoft</li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Editora:</strong> Ubisoft</li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Fecha de lanzamiento:</strong> 20 de Marzo 2025</li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Plataformas:</strong><i class="material-icons">computer</i></li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Género:</strong> Acción, RPG, Aventura</li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Clasificación:</strong> M (Mature)</li>
                                <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                <li><strong>Calificación de usuarios:</strong>
                                    <hr style="border: none; height: 1px; background-color: #555; margin: 10px 0;">
                                    <span class="amber-text text-darken-2">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_half</i>
                                    </span> 4.6 / 5.0
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="page-footer deep-purple darken-1">
        <div class="container">
            <div class="row">

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Empresa</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Términos y condiciones</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidad</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Preguntas Frecuentes</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Derechos del consumidor</a></li>
                    </ul>
                </div>

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Horario de Atención</h5>
                    <ul>
                        <li><span class="grey-text text-lighten-3">Lunes a Viernes</span></li>
                        <li><span class="grey-text text-lighten-3">09:00 AM a 18:00 PM</span></li>
                        <li><span class="grey-text text-lighten-3">Email: serviciocliente@infinitylevel.cl</span></li>
                    </ul>
                </div>

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Mi Cuenta</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Historial de Compra</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Favoritos</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mi Cuenta</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mis Direcciones</a></li>
                    </ul>
                </div>
            </div>
            <ul class="redes-sociales-footer">
                <li><a href="#"><i class="fa-brands
        fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-whatsapp"></i></a></li>
            </ul>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2025 Infinity Level
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->

    <script>
        $("document").ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".dropdown-button").dropdown();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });

        // Or with jQuery

        $('.dropdown-trigger').dropdown();
    </script>
    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            M.Sidenav.init(elems);
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--boton boleta-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializa el modal
            var modales = document.querySelectorAll('.modal');
            M.Modal.init(modales);

            // Fecha actual para la boleta
            const fecha = new Date();
            const formato = fecha.toLocaleDateString("es-CL", {
                weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
            });
            document.getElementById("fechaBoleta").textContent = formato;
        });
    </script>

    <!--generar boleta en pdf-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        function generarboletapdf() {

            const element = document.querySelector('#boletaModal .modal-content');

            const opciones = {
                margin: 10,
                filename: 'boleta.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };

            html2pdf().set(opciones).from(element).save();
        }

        document.addEventListener('DOMContentLoaded', () => {
            const fecha = new Date().toLocaleString();
            document.getElementById('fechaBoleta').textContent = fecha;
        });
    </script>

    <!--js para borrar el fockin 0-->
</body>

</html>