<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Juegos</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <link rel="stylesheet" href="../estilos/redes.css">
    <link rel="stylesheet" href="../estilos/body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

</head>

<body>
    <header>
        <nav class="deep-purple darken-1">
            <div class="container">
                <div class="nav-wrapper">

                    <div class="row" style="margin-bottom: 0; align-items: center; display: flex; flex-wrap: wrap;">

                        <div class="col s2" style="display: flex; align-items: center; gap: 10px;">

                            <a href="/Menu"><img class="imagen_logo"
                                    src="c:\Users\Acer\Desktop\Tienda_Videojuegos\public\rs\logo_for_Infinity_Level_game_launcher_representing_the_perfection_of_the_video_game_world-removebg-preview-Photoroom.png"
                                    style="height: 60px; width: auto; max-width: 100%;"></a>


                            
                            <ul id="slide-out" class="sidenav">
                                <li>
                                    <div class="user-view">
                                        <div class="background">
                                            <img class="background-img"
                                                src="c:/Users/Acer/Desktop/Tienda_Videojuegos/public/rs/fondo-controlador-videojuego-futurista-espacio-texto_1017-54730.avif">
                                        </div>


                                        <a href="#user"><img class="circle"
                                                src="c:\Users\Acer\Desktop\Tienda_Videojuegos\public\rs\IMG_20230709_194456.jpg"></a>
                                        <a href="#name"><span class="white-text name">Vicho21</span></a>
                                        <a href="#email"><span class="white-text email">Vicalex21@gmail.com</span></a>
                                    </div>
                                </li>
                                <li>
                                    <a class="waves-effect" href="log.html">
                                        <i class="material-icons left">sentiment_satisfied</i>Perfil</a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i class="material-icons left">group</i>Cambiar de
                                        prefil</a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i
                                            class="material-icons left">person_add</i>Amigos
                                    </a>
                                </li>
                                <li><a class="waves-effect" href="#!"><i
                                            class="material-icons left">military_tech</i>Logros
                                    </a>
                                </li>

                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a class="subheader">Ajustes</a></li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">laptop_windows</i>Sistema
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">wifi</i>Red
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">save</i>Espacio
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect" href="#!">
                                        <i class="material-icons left">settings</i>Mas Ajustes
                                    </a>
                                </li>

                            </ul>


                            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                                <i class="material-icons">menu</i>
                            </a>


                        </div>

                        <div class="col s4" style="display: flex; align-items: center; justify-content: center;">
                            <form style="margin: 0; width: 100%;">
                                <div class="input-field" style="margin: 0;">
                                    <input id="buscar" type="text" placeholder="Buscar en la Tienda"
                                        style="padding: 0 15px; width: 400px;">
                                </div>
                            </form>
                        </div>

                        <div class="col s6" style="display: flex; align-items: center; justify-content: flex-end;">
                            <ul class="right hide-on-med-and-down">
                                <li><a href="#">Mis Videojuegos</a></li>
                                <li><a href="#">Amigos</a></li>
                                <li><a href="#">Carrito</a></li>
                                <li><a href="#">Ajustes</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>




    </header>
    <main>


        <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Infinity Level Launcher</title>
  <!-- Materialize CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>
  <!-- Íconos de Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <style>
    body {
      background-color: #121212;
      color: white;
    }
    .game-card {
      background-color: #1e1e1e;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s;
    }
    .game-card:hover {
      transform: scale(1.03);
    }
    .game-card .card-image img {
      height: 200px;
      object-fit: cover;
    }
    .card-content h5 {
      color: #fff;
    }
    .jugar-btn {
      background-color: #2196f3;
    }
    .jugar-btn:hover {
      background-color: #1565c0;
    }
  </style>
</head>
<body>

  <div class="container">
    <h3 class="center-align white-text">Infinity Level</h3>

    <div class="row">

      <!-- Tarjeta de Juego -->
      <div class="col s12 m6 l4">
        <div class="card game-card">
          <div class="card-image">
            <img src="\rs\img misjuegos\borderlands4.webp" alt="Batman">
          </div>
          <div class="card-content center-align">
            <h5>???</h5>
            <a class="btn jugar-btn">Jugar</a>
          </div>
        </div>
      </div>

      <!-- Otro Juego -->
      <div class="col s12 m6 l4">
        <div class="card game-card">
          <div class="card-image">
            <img src="\rs\img misjuegos\414973074f313250c973fc8e68860f7c.jpg" alt="Spider-Man">
          </div>
          <div class="card-content center-align">
            <h5>???</h5>
            <a class="btn jugar-btn">Jugar</a>
          </div>
        </div>
      </div>

      <!-- Otro Juego -->
      <div class="col s12 m6 l4">
        <div class="card game-card">
          <div class="card-image">
            <img src="\rs\img misjuegos\8d6aa900d4cadaab266a0ab7c0ff983f9f7c4727_hq.jpg" alt="Star Wars">
          </div>
          <div class="card-content center-align">
            <h5>???</h5>
            <a class="btn jugar-btn">Jugar</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>



    </main>
    <footer class="page-footer deep-purple darken-1">
        <div class="container">
            <div class="row">

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Empresa</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Términos y condiciones</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidad</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Preguntas Frecuentes</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Derechos del consumidor</a></li>
                    </ul>
                </div>

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Horario de Atención</h5>
                    <ul>
                        <li><span class="grey-text text-lighten-3">Lunes a Viernes</span></li>
                        <li><span class="grey-text text-lighten-3">09:00 AM a 18:00 PM</span></li>
                        <li><span class="grey-text text-lighten-3">Email: serviciocliente@infinitylevel.cl</span></li>
                    </ul>
                </div>

                <div class="col s12 m4 l4">
                    <h5 class="white-text">Mi Cuenta</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Historial de Compra</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Favoritos</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mi Cuenta</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mis Direcciones</a></li>
                    </ul>
                </div>
            </div>
            <ul class="redes-sociales-footer">
                <li><a href="#"><i class="fa-brands
        fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands
        fa-whatsapp"></i></a></li>
            </ul>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2025 Infinity Level
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>



    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $("document").ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".dropdown-button").dropdown();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });


    </script>







    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            M.Sidenav.init(elems);
        });
    </script>

</body>

</html>